<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="DBHPluginApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Developer Browsing History</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body ng-controller="HistoryController">
    <div>
        <button ng-click="sendFilteredHistory()" ng-disabled="filteredUrls.length === 0">Send</button>
        <h1>Filtered Urls - New:</h1>
        <ul>
            <li ng-repeat="filteredUrl in filteredUrls">
                <div ng-if="filteredUrl.needsDateHeader">
                    <div class="dateHeader" ng-bind="filteredUrl.friendlyDate"></div>
                </div>
                <div ng-if="filteredUrl.spacer">
                    <div class="divider"></div>
                </div>
                <div class="visitSection">
                    <span class="visitTime" ng-bind="filteredUrl.friendlyTime"></span>
                    <span class="visitIco"> <img src="{{filteredUrl.ico}}"> </span>
                    <span class="title"><a target="#" ng-href="filteredUrl.url"  ng-class="classKind">{{filteredUrl.title}}</a></span>
                </div>
            </li>
        </ul>
    </div>

    <!--build:js(app) lib/modules.js-->
    <script src="./lib/angular/angular.js" type="text/javascript"></script>
    <script src="./lib/moment/min/moment-with-locales.min.js" type="text/javascript"></script>
    <!--endbuild-->
    <!--build:js(app) js/scripts.js-->
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/config/config.js" type="text/javascript"></script>
    <script src="./js/moment.js" type="text/javascript"></script>
    <script src="./js/utils/regexUtils.js" type="text/javascript"></script>
    <script src="./js/urlAnalyzer.js" type="text/javascript"></script>
    <script src="./js/chromeHistoryFetcher.js" type="text/javascript"></script>
    <script src="./js/firefoxHistoryFetcher.js" type="text/javascript"></script>
    <script src="./js/historyFetcher.js" type="text/javascript"></script>
    <script src="./js/historyAnalyzer.js" type="text/javascript"></script>
    <script src="./js/dbhDataContext.js" type="text/javascript"></script>
    <script src="./js/developerResourcesHistoryFinder.js" type="text/javascript"></script>
    <script src="./js/historyController.js" type="text/javascript"></script>
    <script src="./js/directives/urlIco.js" type="text/javascript"></script>
    <!--endbuild-->
</body>
</html>	
	